.container {
    display: flex;
}

.containerCheckbox {
    display: flex;
    align-items: center;
}

.checkbox {
    visibility: hidden;
    /* display: none; */
}

.spanCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    margin: 0 10px 0 0;
    background-color: var(--Gray7);
    border: 1px solid var(--Gray7);
}

.spanCheckboxActive {
    border: 1px solid var(--LightBlue1);
    background-color: var(--LightBlue1);
}

.label {
    font-weight: 400;
}